############################# Filebeat ######################################
filebeat:

  config_dir: "{{ filebeat_config_dir }}"

output:

  elasticsearch:

    hosts: {{ filebeat_elastic_search_hosts | to_yaml }}

logging:

  level: "{{ filebeat_logging_level }}"

  files:

    rotateeverybytes: 10485760
